.card {
    width: 90%;
    height: fit-content;
    justify-self: center;
    padding: 0 5px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
    border: none;
}
.cardImage {
    height: 250px;
    width: 100%;
    object-fit: cover;
}